
<div class = "ui-g">
    <!-- <button pButton type="button" class="ui-g-12" label="Click"></button>
    <p-button label="Click" class="ui-g-6"></p-button> -->

    <!-- Title container -->
    <div class = "ui-g-12 mainContainer">
        <div class = "headingContainer">
            <h1 class = "titleHeading">Hi, I'm Vincent Tran - A software engineer who aspires to make an impact in the world</h1>
        </div>
    </div>

  <!-- Image Row -->
    <div class = "imageContainer">
        <img src = "../../assets/profile.jpg" class = "profilePicture" >
    </div>

    <!-- Description Row -->
    <div style = "background-color: rgba(87, 77, 107, 0.507); width: 70%; float:right" class = "descriptionContainer">
        <!-- <h1 class = "subjectText"> About me </h1> -->
        <div class = "ui-g-12" style="text-align: center; font-family: 'Roboto'; font-size: 20px;">
            <p>
                I am currently an undergraduate student at University of Arkansas pursuing my dreams of becoming <br/>
                a software engineer. On my freetime, I often try to work on independent projects and learn about relevant <br/>
                frameworks. In the future, I hope to be able to obtain a software engineering role that will allow me <br/> 
                to work with cutting-edge technology that will create a significant impact in our fast-growing society.
            </p>
        </div>
        <div class = "ui-g-6" style="padding-left: 10%;">
            <h2 class = "topic">Current University:</h2>
            <h2 class = "topic">Development Interest:</h2>
            <h2 class = "topic">Location:</h2>
        </div>
        <div class = "ui-g-6">
            <h2 class = "response" >University of Arkansas</h2>
            <h2 class = "response">Full-Stack, Mobile Development, Computer Vision</h2>
            <h2 class = "response">Fayetteville, Arkansas</h2>
        </div>
    </div>
</div>




