
<div class = "ui-g">
    <!-- <button pButton type="button" class="ui-g-12" label="Click"></button>
    <p-button label="Click" class="ui-g-6"></p-button> -->

    <!-- Title container -->
    <div class = "ui-g-12 mainContainer">
        <div class = "headingContainer">
            <h1 class = "titleHeading">Hi, I'm Vincent Tran - A software engineer who aspires to make an impact in the world</h1>
        </div>
    </div>

    <!-- Description Row -->
    <div class = "ui-g-6 descriptionContainer">

    </div>
    <div style = "background-color: rgba(87, 77, 107, 0.507)" class = "ui-g-6 descriptionContainer">
        <h1 class = "subjectText"> About me </h1>
        <div></div>
    </div>
</div>




